<!DOCTYPE HTML>
<html>
<head>
<title>All Players</title>
</head>

<body>
  <h1>All Players</h1>
  <% @players.each do |player| %>
    <li>
      <%= link_to player.nameLast, player %>
    </li>
  <% end %>
</body>

</html>
